@model Car4U.Models.Car
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
    <h3>Tem a certeza que pretende apagar este Carro?</h3>
</div>

<div class="container">
    <div class=" form-horizontal">
        <div class="form-group">
            <div class=" col-md-10">
                <table class=" table tableheader table-responsive" style="width:200px">
                  
                    <tr>
                        <th>Descrição</th>
                        <td>@Html.DisplayFor(model => model.carModel.Description)</td>
                    </tr>
                    <tr>
                        <th>Categoria</th>
                        <td>@Html.DisplayFor(model => model.category.CategoryName)</td>
                    </tr>
                    <tr>
                        <th>Combustivel</th>
                        <td>@Html.DisplayFor(model => model.fuelType.Description)</td>
                    </tr>
                    <tr>
                        <th>Matricula</th>
                        <td>@Html.DisplayFor(model => model.LicensePlate)</td>
                    </tr>
                    <tr>
                        <th>Data de Registo</th>
                        <td>@Html.DisplayFor(model => model.RegisterDate)</td>
                    </tr>
                    <tr>
                        <th>Nº Portas</th>
                        <td>@Html.DisplayFor(model => model.NDoors)</td>
                    </tr>
                    <tr>
                        <th>nº Bagagens</th>
                        <td>@Html.DisplayFor(model => model.NLuggage)</td>
                    </tr>
                    <tr>
                        <th>Cilindrada</th>
                        <td>@Html.DisplayFor(model => model.Engine)</td>
                    </tr>
                    <tr>
                        <th>Potencia</th>
                        <td>@Html.DisplayFor(model => model.HorsePower)</td>
                    </tr>
                </table>

                <div class="buttonbackoffice">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-actions">
                            <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>
                        </div>
                    }
                    <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "Cars")'"> Voltar </button>
                </div>
            </div>
        </div>
    </div>
</div>

