@model Car4U.Models.Car
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
    <h2>Eliminar Carro</h2>
</div>
<h4>Tem a certeza que pretende apagar este Carro?</h4>
<div class="container">
    <div class=" form-horizontal">
        <div class="form-group">
            <div class=" col-md-10">
                <table class=" table tableheader table-responsive" style="width:200px">
                    <tr><th></th><th></th></tr>
                    <tr>
                        <td>Descrição</td>
                        <td>@Html.DisplayFor(model => model.carModel.Description)</td>
                    </tr>
                    <tr>
                        <td>Categoria</td>
                        <td>@Html.DisplayFor(model => model.category.CategoryName)</td>
                    </tr>
                    <tr>
                        <td>Combustivel</td>
                        <td>@Html.DisplayFor(model => model.fuelType.Description)</td>
                    </tr>
                    <tr>
                        <td>Matricula</td>
                        <td>@Html.DisplayFor(model => model.LicensePlate)</td>
                    </tr>
                    <tr>
                        <td>Data de Registo</td>
                        <td>@Html.DisplayFor(model => model.RegisterDate)</td>
                    </tr>
                    <tr>
                        <td>Nº Portas</td>
                        <td>@Html.DisplayFor(model => model.NDoors)</td>
                    </tr>
                    <tr>
                        <td>nº Bagagens</td>
                        <td>@Html.DisplayFor(model => model.NLuggage)</td>
                    </tr>
                    <tr>
                        <td>Cilindrada</td>
                        <td>@Html.DisplayFor(model => model.Engine)</td>
                    </tr>
                    <tr>
                        <td>Potencia</td>
                        <td>@Html.DisplayFor(model => model.HorsePower)</td>
                    </tr>
                </table>

                <div class="buttonbackoffice">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-actions">
                            <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>
                        </div>
                    }
                    <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "CarModels")'"> Voltar </button>
                </div>
            </div>
        </div>
    </div>
</div>

