@model Car4U.Models.Car
@{
   
}


@if (ViewBag.View == 1)
{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@if (ViewBag.View == 2)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h2 class="titles">Detalhes</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-7 moldura3 positiontop" style="margin-left:20px;">
            @if (Model.FilePaths.Any(f => f.FileType == Car4U.Models.FileType.Photo))
            {

                <img width="470" height="300" src="~/images/@Model.FilePaths.First(f => f.FileType == Car4U.Models.FileType.Photo).FileName" alt="" />

            }

            <!-- Load Facebook SDK for JavaScript -->
            <div id="fb-root"></div>
            <script>
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=1541189936202435";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

            <!-- Your share button code -->

        </div>

        <div class="col-lg-5 positiontop">
            <table class="table tabledetails positionright">
                <tbody>

                    <tr>
                        <th class="table-background"> Modelo Veículo</th>
                        <td class="table-background-second"> @Html.DisplayFor(model => model.carModel.brand.Description) @Html.DisplayFor(model => model.carModel.Description)</td>

                    </tr>

                    <tr>
                        <th class="table-background">Categoria do Veiculo</th>
                        <td class="table-background-second">  @Html.DisplayFor(model => model.category.CategoryName)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Caixa</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.Gear.Description)</td>
                    </tr>


                    <tr>
                        <th class="table-background">Tipo Combustivel</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.fuelType.Description)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Matricula</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.LicensePlate)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Data Registo</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.RegisterDate)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Nº Portas</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.NDoors)</td>
                    </tr>


                    <tr>
                        <th class="table-background">Capacidade Mala</th>
                        <td class="table-background-second"> @Html.DisplayFor(model => model.NLuggage)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Cilindrada (cc)</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.Engine)</td>
                    </tr>

                    <tr>
                        <th class="table-background">Potência (cv)</th>
                        <td class="table-background-second">@Html.DisplayFor(model => model.HorsePower)</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="fb-share-button" data-href="https://www.facebook.com/Car4U-1317607318265322/" data-layout="button_count"></div>
    <div class="row col-lg-4 buttonbackoffice btn-position-right">
        <p>


            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink(" Seguir carro ", "FollowCar", new { carModel = Model.ID, view = @ViewBag.View }, new { @class = " icon-Car submit", @title = " Seguir carro " })
            }
            @Html.ActionLink(" Editar ", "Edit", new { id = Model.ID }, new { @class = "icon-edit submit", @title = "Editar" })
            @if (ViewBag.View == 1)
            {
                @Html.ActionLink(" Voltar ", "Index", "Cars", new { @class = " icon-back submit", @title = " Voltar " })
            }
            @if (ViewBag.View == 2)
            {
                <a id="edit-details" href="~/Home/Index"> Voltar</a>
            }


        </p>

    </div>

</div>
