@model Car4U.Models.Car


@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h2 class="titles">Detalhes</h2>
</div>


    <div class="row">
    <div class="col-lg-7 moldura3 positiontop">
        @if (Model.FilePaths.Any(f => f.FileType == Car4U.Models.FileType.Photo))
        {

            <img width="470" height="300" src="~/images/@Model.FilePaths.First(f => f.FileType == Car4U.Models.FileType.Photo).FileName" alt="" />

        }

        <!-- Load Facebook SDK for JavaScript -->
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.5&appId=1541189936202435";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your share button code -->
        <div class="fb-share-button" data-href="https://www.facebook.com/Car4U-1317607318265322/" data-layout="button_count"></div>
    </div>

        <div class="col-lg-5 positiontop">
            <table class="table table-bordered positiontop positionright">
                <tbody>
                    <tr>
                        <th> Modelo Veículo</th>
                        <th> @Html.DisplayFor(model => model.carModel.Description)</th>

                    </tr>



                    <tr>
                        <th>Categoria do Veiculo</th>
                        <th>  @Html.DisplayFor(model => model.category.CategoryName)</th>
                    </tr>

                    <tr>
                        <th>Caixa</th>
                        <th>@Html.DisplayFor(model => model.Gear.Description)</th>
                    </tr>


                    <tr>
                        <th>Tipo Combustivel</th>
                        <th>@Html.DisplayFor(model => model.fuelType.Description)</th>
                    </tr>

                    <tr>
                        <th>Matricula</th>
                        <th>@Html.DisplayFor(model => model.LicensePlate)</th>
                    </tr>

                    <tr>
                        <th>Data Registo</th>
                        <th>@Html.DisplayFor(model => model.RegisterDate)</th>
                    </tr>

                    <tr>
                        <th>Nº Portas</th>
                        <th>@Html.DisplayFor(model => model.NDoors)</th>
                    </tr>


                    <tr>
                        <th>Capacidade Mala</th>
                        <th> @Html.DisplayFor(model => model.NLuggage)</th>
                    </tr>

                    <tr>
                        <th>Cilindrada (cc)</th>
                        <th>@Html.DisplayFor(model => model.Engine)</th>
                    </tr>

                    <tr>
                        <th>Potência (cv)</th>
                        <th>@Html.DisplayFor(model => model.HorsePower)</th>
                    </tr>
                </tbody>
            </table>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "btn btn-default btn-position" })

        </div>

        </div>
<div class="row col-lg-12">
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Follow Car", "FollowCar", new { carModel = Model.ID })
        }

        @Html.ActionLink("Voltar", "Index", "Cars", new { @class = "lista btn-position" })
    </p>

</div>



