@model IEnumerable<Car4U.Models.Car>

@{
    ViewBag.Title = "EnteringCars";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}

<h2>EnteringCars</h2>

<p>
    @Html.ActionLink("+ Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarStatus.FirstOrDefault().Status.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarStatus.FirstOrDefault().FinishHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarStatus.FirstOrDefault().ReturnPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carModel.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().Status.Description)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().FinishHour.TimeOfDay)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().ReturnPlace)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.carModel.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensePlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
