@model IEnumerable<Car4U.Models.Car>
@using Car4U.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Frota Car4U</h2>
<div class="form-group">
    <div class="buttonbackoffice">

        @Html.ActionLink(" Adicionar", "Create", "Cars", new { @class = "icon-Add submit" })
    </div>
</div>
<table class="table tableheader">
    <tr>
        <th class="tableheader1">      </th>
        
        <th> Modelo </th>
        <th>Categoria</th>
        <th>Tipo Combustível</th>
        <th> Matrícula </th>
        <th> Data Registo </th>
        <th> Nº Portas </th>
        <th>  Capacidade Mala </th>
        <th>  Cilindrada (cc)  </th>
        <th>  Potência (cv)</th>
        <th>  Caixa </th>
        <th> Acções </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="background-color:#ffffff">
                <div class="control-image">
                    @if (item.FilePaths.Any(f => f.FileType == Car4U.Models.FileType.Photo))
                    {

                        <img width="100" height="auto" src="~/images/@item.FilePaths.First(f => f.FileType == Car4U.Models.FileType.Photo).FileName" alt="" />

                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carModel.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuelType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NDoors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NLuggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.Description)
            </td>
            <td>
                <div class="buttonbackoffice">
                    @Html.ActionLink(" ", "EditPhoto", new { id = item.ID }, new {@id="hover-icon", @class = "icon-Photo-Edit submit", @title = "Editar Foto" })
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @id = "hover-icon", @class = "icon-edit submit", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID, view = 1 }, new { @id = "hover-icon", @class = "icon-Details submit", @title = "Detalhes" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @id = "hover-icon", @class = "icon-Delete submit", @title = "Apagar" })
                </div>
            </td>
        </tr>
    }

</table>
