@model IEnumerable<Car4U.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Carros</h2>

<p>
    @Html.ActionLink("+ Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Marca
            @*@Html.DisplayNameFor(model => model.carModel.brand.Description)*@
        </th>
        <th>
            Modelo
            @*@Html.DisplayNameFor(model => model.carModel.Description)*@
        </th>
        <th>
            Categoria
            @*@Html.DisplayNameFor(model => model.category.CategoryName)*@
        </th>
        <th>
            Combustível
            @*@Html.DisplayNameFor(model => model.fuelType.Description)*@
        </th>
        <th>
            Matrícula
            @*@Html.DisplayNameFor(model => model.LicensePlate)*@
        </th>
        <th>
            Data Registo
            @*@Html.DisplayNameFor(model => model.RegisterDate)*@
        </th>
        <th>
            Nº Portas
            @*@Html.DisplayNameFor(model => model.NDoors)*@
        </th>
        <th>
            Nº Bagagem
            @*@Html.DisplayNameFor(model => model.NLuggage)*@
        </th>
        <th>
            Motor
            @*@Html.DisplayNameFor(model => model.Engine )*@
        </th>
        <th>
            Cavalos
            @*@Html.DisplayNameFor(model => model.HorsePower)*@
        </th>
        <th>
            Caixa
            @*@Html.DisplayNameFor(model => model.Gear.Description)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.carModel.brand.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carModel.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fuelType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicensePlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NDoors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NLuggage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Engine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorsePower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gear.Description)
        </td>
        <td>
            @Html.ActionLink("Editar Fotografia", "EditPhoto", new { id = item.ID }) |
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
