@model IEnumerable<Car4U.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index</h2>
<div class="form-group">
    <div class="button">

        @Html.ActionLink("+ Adicionar", "Create", "Cars", new { @class = "submit" })
    </div>
</div>
<table class="table tableheader">
    <tr>
        <th>
            Modelo
        </th>
        <th>
            Categoria
        </th>
        <th>
            Tipo Combustível
        </th>
        <th>
            Matrícula
        </th>
        <th>
            Data Registo
        </th>
        <th>
            nº Portas
        </th>
        <th>
            Capacidade Mala
        </th>
        <th>
            Cilindrada (cc)
        </th>
        <th>
            Potência (cv)
        </th>
        <th>
            Caixa
        </th>
        <th>
            Acções
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.carModel.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuelType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NDoors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NLuggage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorsePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gear.Description)
            </td>
            <td>
                <div class="buttonbackoffice">
                @Html.ActionLink("Editar Fotografia", "EditPhoto", new { id = item.ID }, new {@class="icon-Photo-Edit" }) |
                @Html.ActionLink(" Editar ", "Edit", new { id = item.ID }, new { @class = "icon-edit" }) | 
                @Html.ActionLink(" Detalhes ", "Details", new { id = item.ID }, new { @class = "icon-Details" }) |
                @Html.ActionLink(" Apagar ", "Delete", new { id = item.ID }, new { @class = "icon-Delete" })
                </div>
            </td>
        </tr>
    }

</table>
