@model IEnumerable<Car4U.Models.Car>

@{
    ViewBag.Title = "IndexModel";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Carros Para Sair Hoje</h2>
<p>.</p>
<section class="destaque-title">
    <h2>
        Carros Por-Sair
    </h2>
</section>
<table class="table">
    <tr>
        <th></th>
        <th>
        
            Estado
        </th>
        <th>
         
            Hora
        </th>
        <th>
    
            Lugar de Entrega
        </th>
        <th>
     
            Modelo
        </th>
        <th>
    
            Categoria
        </th>
        <th>
       
            Matricula
        </th>
        <th>

            Ano do Carro
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.CarStatus.FirstOrDefault().Outside == false)
        {
            string selectedRow = "";
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "LeavingCarsIndex", new { id = item.CarStatus.FirstOrDefault().ID })
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().Status.Description)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().BeginHour.TimeOfDay)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().DeliveryPlace)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.carModel.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
            </tr>
        }

    }
</table>
<div>
    <p>
        .
    </p>
   
</div>
<div>
   
        <section class="destaque-subtitle">
            <h2>
              Carros Que Já Sairam
                @if (ViewBag.ID != null)
                {
                    <span class="pull-right">
                        <a class="icon-Arrow-Up" id="edit-details" href="~/Cars/Inside/@ViewBag.ID"></a>
                        <a class="icon-Arrow-Down" id="edit-details" href="~/Cars/Outside/@ViewBag.ID"></a>
                    </span>
                }
            </h2>
        </section>
    <table class="table">
        <tr>
            <th></th>
            <th>
          
                Estado
            </th>
            <th>
        
                Hora
            </th>
            <th>
            
                Lugar de Entrega
            </th>
            <th>
      
                Modelo
            </th>
            <th>
     
                Categoria
            </th>
            <th>
     
                Matricula
            </th>
            <th>
     
                Ano do Carro
            </th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.CarStatus.FirstOrDefault().Outside == true)
            {
                string selectedRow = "";
                <tr class="@selectedRow">

                    <td>
                        @Html.ActionLink("Select", "LeavingCarsIndex", new { id = item.CarStatus.FirstOrDefault().ID })
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().Status.Description)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().BeginHour.TimeOfDay)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.CarStatus.FirstOrDefault().DeliveryPlace)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.carModel.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegisterDate)
                    </td>
                </tr>
            }

        }
    </table>
    
</div>
