@model Car4U.Models.InfoSender

@{
    ViewBag.Title = "Home Page";
}

<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="title" content="Frota ">
    <meta name="description" content="Aluguer de carros em portugal">


    <!-- Css -->
    @*
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">*@
    @*
        <link rel="stylesheet" type="text/css" href="~/Content/css/common.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/RicardoOliveira.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.min.css">

</head>

<body>

    @*idioma - identificado auto pelo idioma do browser*@

    @*<div class="language no-print">
            <div class="container">
                <div class="col-md-12">
                    <div class="post">
                        <ul>
                            <li class="pt"><a href="/pt/"><span style="color:#FFFFFF">PT</span></a></li>
                            <li class="en"><a href="/en/"><span style="color:#FFFFFF">EN</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@


    <div id="slider" class="reserveIndex col-md-12 col-sm-12">


        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <a class="banner-text" href="javascript:void(0)" class="nolink">
                        <div id="homepage_title"></div>
                        <div id="homepage_sub_title"></div>
                        <div id="homepage_p"></div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Inicio Reserva -->

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- Search -->
                    @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { @class = "form_hp", role = "form" }))
                    {
                        @*<form class="form_hp" id="bookingForm" role="form" method="post">*@
                        <legend>Efectuar Reserva</legend>
                        <div class="frota">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="picking_location_id" class="control-label">Local de levantamento</label>
                                        @*<div  required="">@Html.DropDownList("DeliveryPointID", null, "Por favor escolha...", htmlAttributes: new { @id = "picking_location_id", @name = "picking_location_id", @class = "form-control" })</div>*@
                                        <div>@Html.DropDownList("MPDeliveryID", null, "Por favor escolha...", htmlAttributes: new { @id = "picking_location_id", @name = "picking_location_id", @class = "form-control", required = "required" })</div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="picking_equals_delivery">
                                            <input type="checkbox" id="picking_equals_delivery" name="picking_equals_delivery" checked> Local de levantamento igual ao de devolução
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="delivery_location_row" style="display: none">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="delivery_location_id" class="control-label">Local de devolução</label>
                                        @*<div required>@Html.DropDownList("ReturnPointID", null, "Por favor escolha...", htmlAttributes: new { @id = "delivery_location_id", @name = "delivery_location_id", @class = "form-control" })</div>*@
                                        <div>@Html.DropDownList("MPReturnID", null, "Por favor escolha...", htmlAttributes: new { @id = "delivery_location_id", @name = "delivery_location_id", @class = "form-control", required = "required" })</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label" for="age">Idade do condutor</label>
                                        <select id="age" class="form-control" name="age" required>
                                            <option value="">Por favor escolha...</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23-75" selected>23-75</option>
                                            <option value="76">76</option>
                                            <option value="77">77</option>
                                            <option value="78">78</option>
                                            <option value="79">79</option>
                                            <option value="80">80</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="fleet_category_id" class="control-label">Categoria da viatura</label>
                                        <div>@Html.DropDownList("CategoryID", null, "Por favor escolha...", htmlAttributes: new { @id = "fleet_category_id", @name = "fleet_category_id", @class = "form-control" })</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="picking_date" class="control-label">Data de levantamento</label>
                                        <a>
                                            @Html.EditorFor(model => model.BeginDate, new { htmlAttributes = new { @id = "picking_date", @name = "picking_date", @type = "text", @class = "form-control", @placeholder = "dd-mm-aaaa", @autocomplete = "off", required = "required" } })
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="picking_hour" class="control-label">Hora</label>
                                        <a required>
                                            @Html.EditorFor(model => model.BeginHour, new { htmlAttributes = new { @id = "picking_hour", @class = "form-control", @name = "picking_hour" } })
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="delivery_date" class="control-label">Data de devolução</label>
                                        <a>
                                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @id = "delivery_date", @name = "delivery_date", @type = "text", @class = "form-control", @placeholder = "dd-mm-aaaa", @autocomplete = "off", required = "required" } })
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="delivery_hour" class="control-label">Hora</label>
                                        <a required disabled>
                                            @Html.EditorFor(model => model.EndHour, new { htmlAttributes = new { @id = "delivery_hour", @class = "form-control", @name = "delivery_hour" } })
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-error">
                                <div class="col-md-12 form-error-message">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="button">
                                        <button id="bookingFormSubmit" class="submit" type="submit" style="float:right;">Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FIM FROTAAAA -->
                        @*</form>*@
                    }
                    <!-- End Search -->
                </div>
                <div class="col-md-2"></div>
                @* Animaçao Osvaldo *@

                <div class="col-md-6">
                    <article class="principle five movingCar">
                        <div class="shape-container">
                            <img src="~/images/Car4Ucar.fw.png" class="img-responsiveb shape" />
                        </div>
                    </article>
                    <div class="car4U-text">
                        <img src="~/images/Car4Utext.fw.png" class="img-responsiveb" />
                    </div>
                </div>

            </div>

        </div>
    </div>


    <!-- End Reserva -->


    <hr>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    @*<script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.js"></script>*@
    <script type="text/javascript" src="~/Scripts/common.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript" src="~/Scripts/messages_pt.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>

    <script type="text/javascript">
        if (jQuery.browser.mozilla) {
            $('head').append("<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>");
        }
    </script>

    <!-- ANALYTICS -->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38988857-23']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>


    <script type="text/javascript" src="~/Scripts/jquery.ui.datepicker-pt.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#picking_equals_delivery').click(function () {
                if ($(this).is(':checked')) {
                    $('#delivery_location_row').hide();
                } else {
                    $('#delivery_location_row').show();
                }
            });

            $('#picking_location_id').change(function () {
                if ($('#picking_equals_delivery').is(':checked')) {
                    $('#delivery_location_id').val($('#picking_location_id').val());
                }
            });

            $('#picking_date').change(function () {
                $(this).parent().removeClass('has-error');
            });

            $('#bookingForm').submit(function () {
                if ($('#picking_date').val() == '' || $('#delivery_date').val() == '') return false;

                var pDate = new Date($('#picking_date').datepicker('getDate').getTime());
                pDate.setHours($('#picking_hour :selected').data().hours);
                pDate.setMinutes($('#picking_hour :selected').data().minutes);

                var dDate = new Date($('#delivery_date').datepicker('getDate').getTime());
                dDate.setHours($('#delivery_hour :selected').data().hours);
                dDate.setMinutes($('#delivery_hour :selected').data().minutes);

                if (pDate.getTime() >= dDate.getTime()) {
                    $('.form-error').show().find('.form-error-message').html('Por favor selecione uma data de devolução superior à data de levantamento');
                    return false;
                }

                return true;
            });

            $('#bookingForm').validate({
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',
                errorPlacement: function (error, element) {
                    $('.form-error').show().find('.form-error-message').html('Por favor preencha todos os campos obrigatórios');
                    return true;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var maxBookingDays = 30;

            $('#picking_date').datepicker({
                dateFormat: 'dd-mm-yy',
                minDate: 0,
                onSelect: function () {
                    $('#delivery_date').datepicker('option', 'minDate', $('#picking_date').datepicker('getDate'));
                    $('#delivery_date').datepicker('option', 'maxDate', new Date($('#picking_date').datepicker('getDate').getTime() + 1000 * 60 * 60 * 24 * 30));
                    $('#delivery_date').val('').removeAttr('disabled');
                    $('#delivery_hour').removeAttr('disabled');
                    $(this).parent().removeClass('has-error');
                }
            });

            $('#delivery_date').datepicker({
                dateFormat: 'dd-mm-yy',
                onSelect: function () {
                    $(this).parent().removeClass('has-error');
                }
            });
        });
    </script>

</body>

</html>
