@model Car4U.Models.Status

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Deatlhes do Estado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="buttonbackoffice">
                <button class="submit" type="button" onclick="location.href='@Url.Action("Edit", "Status", new { id = Model.ID })'"><i class="fa fa-pencil-square-o" fa-lg"></i> Editar </button> 
                <button class="submit" type="button" onclick="location.href='@Url.Action("Delete", "Status", new { id = Model.ID })'"><i class="fa fa-trash-o fa-lg"></i> Eliminar </button>
                <button class="submit" type="button" onclick="location.href='@Url.Action("Index", "Status")'"><i class="fa fa-arrow-left fa-lg"></i> Voltar </button>
            </div>
        </div>
    </div>
</div>

