@model IEnumerable<Car4U.Models.Status>

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<br />
<h4 style="color:black">Estado</h4>
<br />

<div class="form-group">
    <div class="buttonbackoffice">
        <button class="submit icon-Add" type="button" onclick="location.href='@Url.Action("Create", "Status")'"> Adicionar </button>
    </div>
</div>

<table class="table tableheader">
    <tr>
        <th>
            Estado
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>Acções</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="buttonbackoffice">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                </div>
            </td>
        </tr>
    }
</table>
