@model Car4U.Models.FuelType

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Tipo de combustivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="button">
                <button id="butaoOffice" class="submit" type="button" onclick="location.href='@Url.Action("Edit", "FuelTypes", new { id = Model.ID })'">Editar</button>
                <button id="butaoOffice" class="submit" type="button" onclick="location.href='@Url.Action("Delete", "FuelTypes", new { id = Model.ID })'">Eliminar</button>
                <button id="butaoOffice" class="submit" type="button" onclick="location.href='@Url.Action("Index", "FuelTypes")'">Voltar</button>
            </div>
        </div>
    </div>
</div>

