@model Car4U.Models.FuelType

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h2>Tipo de combustivel</h2>
</div>

<div class=" form-horizontal">
    <div class="form-group">
        <div class=" col-md-10">
            <div>
                <h4> @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h4>
            </div>
            <div class="buttonbackoffice">
                <button class="submit icon-edit" type="button" onclick="location.href='@Url.Action("Edit", "FuelTypes", new { id = Model.ID })'"> Editar </button>
                <button class="submit icon-Delete" type="button" onclick="location.href='@Url.Action("Delete", "FuelTypes", new { id = Model.ID })'">Eliminar</button>
                <button class="submit icon-back" type="button" onclick="location.href='@Url.Action("Index", "FuelTypes")'"> Voltar </button>
            </div>
        </div>
    </div>
</div>

