@model IEnumerable<Car4U.Models.FuelType>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<br />
<h4 style="color:black">Tipo de combustivel</h4>
<br />

<div class="form-group">
    <div class="button">
        <button id="butaoOffice" class="submit" type="button" style="float:left" onclick="location.href='@Url.Action("Create", "FuelTypes")'">Adicionar</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

