@model IEnumerable<Car4U.Models.FuelType>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="page-header">
    <h2>Tipo de combustivel</h2>
</div>

<div class="container">
    <div class="container col-lg-4">
        <div class="form-group">
            <div class="buttonbackoffice">
                <button class="submit icon-Add" type="button" style="float:left" onclick="location.href='@Url.Action("Create", "FuelTypes")'"> Adicionar </button>
            </div>
        </div>

        <table class="table tableheader table-responsive">
            <thead>
                <tr>
                    <th>  Combustível </th>
                    <th style="font-weight:900;
                    font-size:14px;
                    font-style:oblique" ;>+ Opções</th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <div class="iconsbackoffice">
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                        </div>
                    </td>
                </tr>
            }

        </table>


    </div>

</div>