@model Car4U.Models.CarStatus
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Delete";
}
<div class="page-header">
    <h2>Eliminar Estado de Veiculo</h2>
</div>
<div class=" container">
    <div class=" form-horizontal">
        <div class="form-group">
            <div class=" col-md-10">
                <h3>Tem a certeza que pretende apagar este estado de carro?</h3>

                <table class=" table tableheader table-responsive" style="width:200px">                    
                    <tr>
                        <td>Matricula</td>
                        <td>@Html.DisplayFor(model => model.Car.LicensePlate)</td>
                    </tr>
                    <tr>
                        <td>Estado de Disponibilidade</td>
                        <td>@Html.DisplayFor(model => model.Observation)</td>
                    </tr>
                    <tr>
                        <td>Observações de Disponibilidade</td>
                        <td>@Html.DisplayFor(model => model.Status.Description)</td>
                    </tr>

                    <tr>
                        <td>Data de Inicio</td>
                        <td>@Html.DisplayFor(model => model.BeginDate)</td>
                    </tr>
                    <tr>
                        <td>Data de Fim</td>
                        <td>@Html.DisplayFor(model => model.FinishDate)</td>
                    </tr>
                </table>

                <div class="buttonbackoffice">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-actions">
                            <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>
                        </div>
                    }
                    <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "CarStatus")'"> Voltar </button>
                </div>
            </div>
        </div>
    </div>
</div>
