@model Car4U.Models.CarStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryPlace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReturnPlace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginHour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishHour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishHour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
