@model IEnumerable<Car4U.Models.CarStatus>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Estado dos Carros</h2>

<p>
    @Html.ActionLink("+ Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Matrícula
            @*@Html.DisplayNameFor(model => model.Car.LicensePlate)*@
        </th>
        <th>
            Estado
            @*@Html.DisplayNameFor(model => model.Status.Description)*@
        </th>
        <th>
            Observações
            @*@Html.DisplayNameFor(model => model.Observation)*@
        </th>
        <th>
            Local de Entrega
            @*@Html.DisplayNameFor(model => model.DeliveryPlace)*@
        </th>
        <th>
            Local de Recolha
            @*@Html.DisplayNameFor(model => model.ReturnPlace)*@
        </th>
        <th>
            Data Início
            @*@Html.DisplayNameFor(model => model.BeginDate)*@
        </th>
        <th>
            Hora Início
            @*@Html.DisplayNameFor(model => model.BeginHour)*@
        </th>
        <th>
            Data Fim
            @*@Html.DisplayNameFor(model => model.FinishDate)*@
        </th>
        <th>
            Hora Fim
            @*@Html.DisplayNameFor(model => model.FinishHour)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.LicensePlate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginHour.TimeOfDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishHour.TimeOfDay)
        </td>
        <td>
            @Html.ActionLink(" Editar ", "Edit", new { id = item.ID }, new { @class = "icon-edit" }) |
            @Html.ActionLink(" Detalhes ", "Details", new { id = item.ID }, new { @class = "icon-Details" }) |
            @Html.ActionLink(" Apagar ", "Delete", new { id = item.ID }, new { @class = "icon-Delete" })
        </td>
    </tr>
}

</table>
