@model IEnumerable<Car4U.Models.CarStatus>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>Estado dos Veiculos</h2>
</div>
<div class="container">
    <div class="buttonbackoffice">
        <button class="submit icon-Add" style="float:left" type="button" onclick="location.href='@Url.Action("Create", "CarStatus")'"> Adicionar </button>
    </div>
    <table class="table tableheader">
        <thead>
            <tr>
                <th>
                    Matrícula
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Observações
                </th>
                <th>
                    Local de Entrega
                </th>
                <th>
                    Local de Recolha

                </th>
                <th>
                    Data Início

                </th>
                <th>
                    Hora Início

                </th>
                <th>
                    Data Fim

                </th>
                <th>
                    Hora Fim

                </th>
                <th style="font-weight:900;
                    font-size:14px;
                    font-style:oblique" ;>+ Opções</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginHour.TimeOfDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishHour.TimeOfDay)
                </td>
                <td>
                    <div class="iconsbackoffice">
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                        @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                    </div>
                </td>
            </tr>
        }
    </table>
</div>