@using Car4U.Models
@using System.Data.Entity
@model Car4U.Models.ApplicationUser

@if (Model != null)
{

    {

        ViewBag.Title = "Delete Account";
    }


    <div class="page-header">
        <h2>@ViewBag.Title</h2>

        @Html.AntiForgeryToken()
    </div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <hr />
    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="all-blogs">
                    <li>
                        @Html.LabelFor(model => model.Email)
                        :
                        @Html.DisplayFor(model => model.Email)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Name)
                        :
                        @Html.DisplayFor(model => model.Name)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.PostalCode)
                        :
                        @Html.DisplayFor(model => model.PostalCode)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Address)
                        :
                        @Html.DisplayFor(model => model.Address)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.License)
                        :
                        @Html.DisplayFor(model => model.License)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.BI)
                        :
                        @Html.DisplayFor(model => model.BI)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Country)
                        :
                        @Html.DisplayFor(model => model.Country.Name)
                    </li>
                </ul>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="buttonbackoffice">
                        <span onclick="return confirm('Tem a certeza que quer eliminar a conta?')"><input type="submit" value="Delete" class="submit" /></span>
                        <a id="Voltar para os detalhes" href="/User/Details" class="submit">Cancel</a>
                    </div>
                </div>
            }
        </div>
    </div>


    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@

}
else
{
    <h1>Error</h1>
}