@using Car4U.Models
@using System.Data.Entity
@model Car4U.Models.ApplicationUser

@if (Model != null)
{

    {
        <div class="page-header">
            <h2>Prefil</h2>
        </div>
    }


    <h2>@Html.DisplayFor(model => model.Name)</h2>

    @Html.AntiForgeryToken()

    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="all-blogs">
                    <li>
                        @Html.LabelFor(model => model.Email)
                        :
                        @Html.DisplayFor(model => model.Email)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Name, "Nome")
                        :
                        @Html.DisplayFor(model => model.Name)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.PostalCode, "Código Postal")
                        :
                        @Html.DisplayFor(model => model.PostalCode)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Address, "Morada")
                        :
                        @Html.DisplayFor(model => model.Address)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.License, "Carta de Condução")
                        :
                        @Html.DisplayFor(model => model.License)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.BI)
                        :
                        @Html.DisplayFor(model => model.BI)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Country, "País")
                        :
                        @Html.DisplayFor(model => model.Country.Name)
                    </li>
                </ul>
            </div>
                <div class="row">

                    <div class="buttonbackoffice">
                        <button  class="submit" type="button" onclick="location.href='@Url.Action("FollowedCars", "User")'">Carros seguidos</button>
                    </div>
                    <div class="buttonbackoffice">
                        <button class="submit" type="button" onclick="location.href='@Url.Action("Manage", "Account")'">Alterar password</button>
                    </div>

                    <div class="buttonbackoffice">
                        <button  class="submit" type="button" onclick="location.href='@Url.Action("Edit", "User")'">Alterar dados</button>
                    </div>

                    <div class="buttonbackoffice">
                        <button class="submit" type="button" onclick="location.href='@Url.Action("Delete", "User")'">Eliminar conta</button>
                    </div>
               
            </div>
        </div>
    </div>


    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@
}
else
{
    <h1>Error.</h1>
}