@using Car4U.Models
@using System.Data.Entity
@model Car4U.Models.ApplicationUser

@if (Model != null)
{

    {

        ViewBag.Title = "Detalhes";
    }


    <h2>@ViewBag.Title</h2>

    @Html.AntiForgeryToken()

    <h4>Details</h4>
    <hr />
    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <ul class="all-blogs">
                    <li>
                        @Html.LabelFor(model => model.Email)
                        :
                        @Html.DisplayFor(model => model.Email)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Name)
                        :
                        @Html.DisplayFor(model => model.Name)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.PostalCode)
                        :
                        @Html.DisplayFor(model => model.PostalCode)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Address)
                        :
                        @Html.DisplayFor(model => model.Address)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.License)
                        :
                        @Html.DisplayFor(model => model.License)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.BI)
                        :
                        @Html.DisplayFor(model => model.BI)
                    </li>
                    <li>
                        @Html.LabelFor(model => model.Country)
                        :
                        @Html.DisplayFor(model => model.Country.Name)
                    </li>
                </ul>
                <a id="Change Password" href="/Account/Manage" class="btn btn-success login">Change Password</a>
                <a id="Edit" href="/User/Edit" class="btn btn-primary login">Edit Account</a>
                <a id="FollowedCars" href="/User/FollowedCars" class="btn btn-primary login">Followed Cars</a>
                <a id="Delete" href="/User/Delete" class="btn btn-danger login">Delete Account</a>
            </div>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
else
{
    <h1>Error.</h1>
}