@using Car4U.Models
@using System.Data.Entity
@model Car4U.Models.ApplicationUser

@if (Model != null)
{
    {

        ViewBag.Title = "Mudar os detalhes";
    }

    <div class="page-header">
    <h2>@ViewBag.Title</h2>

    @Html.AntiForgeryToken()
        </div>
    <h2>@Html.DisplayFor(model => model.Name)</h2>

    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-12">
                <section>
                    @using (Html.BeginForm("Edit", "User", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {

                        
                        <div class="col-md-12 col-lg-12">
                            <ul class="all-blogs form-inline">
                                <li>

                                    @Html.LabelFor(model => model.Email)
                                    :

                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width: 450px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.Name, "Nome")
                                    :
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @style = "max-width: 447px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.PostalCode, "Código Postal")
                                    :
                                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", @style = "max-width: 364px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.Address, "Morada")
                                    :
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @style = "max-width: 430px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.License, "Carta de Condução")
                                    :
                                    @Html.TextBoxFor(m => m.License, new { @class = "form-control", @style = "max-width: 310px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.BI)
                                    :
                                    @Html.TextBoxFor(m => m.BI, new { @class = "form-control", @style = "max-width: 485px" })
                                </li>
                                <li>
                                    @Html.LabelFor(model => model.Country, "País")
                                    :
                                    @Html.DropDownList("CountryID", null, htmlAttributes: new { @class = "form-control", @style = "max-width: 462px" })
                                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                </li>
                            </ul>
                        </div>                    
                        <div class="">
                            <div class="col-md-offset-12 col-md-12 buttonbackoffice" style="float:right">
                                <input type="submit" class="submit" value="Guardar alterações" onsubmit="location.href='@Url.Action("Delete", "User")'" />
                            </div>
                        </div>
                    }
                </section>
            </div>

        </div>
    </div>


    @*@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@

}
else
{
    <h1>Error</h1>
}
