@model Car4U.Models.Reservation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentDelivery.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentDelivery.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MomentReturn.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MomentReturn.Observation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPDelivery.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPDelivery.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPReturn.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPReturn.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.License)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.License)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraItemsID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraItemsID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
