@model Car4U.Models.Reservation
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Delete";
}

<div class="page-header">
    <h2>Eliminar Reserva</h2>
</div>
<div class="container">
    <div class=" form-horizontal">
        <div class="form-group">
            <div class=" col-md-10">
                <h4> Tem a certeza que pretende apagar este modelo?</h4>
                <table class=" table tableheader table-responsive" style="width:300px">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td> Nome Cliente</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td> País</td>
                        <td>@Html.DisplayFor(model => model.Country.Name)</td>
                    </tr>

                    <tr>
                        <td> Morada</td>
                        <td>@Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td> Código Postal</td>
                        <td>@Html.DisplayFor(model => model.PostalCode)</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td> Carta Condução nº</td>
                        <td>@Html.DisplayFor(model => model.License)</td>
                    </tr>
                    <tr>
                        <td>BI</td>
                        <td>@Html.DisplayFor(model => model.BI)</td>
                    </tr>
                    <tr>
                        <td> Data de Reserva</td>
                        <td>@Html.DisplayFor(model => model.ReservationDate)</td>
                    </tr>
                    <tr>
                        <td> Local de Entrega</td>
                        <td>@Html.DisplayFor(model => model.MPDelivery.Place) </td>
                    </tr>
                    <tr>
                        <td>Observação de Entrega</td>
                        <td>@Html.DisplayFor(model => model.MomentDelivery.Observation)</td>
                    </tr>
                    <tr>
                        <td> Data de Entrega</td>
                        <td>@Html.DisplayFor(model => model.DeliveryDate)</td>
                    </tr>
                    <tr>
                        <td> Hora de Entrega</td>
                        <td>@Html.DisplayFor(model => model.DeliveryHour)</td>
                    </tr>
                    <tr>
                        <td> Local de Devolução</td>
                        <td>@Html.DisplayFor(model => model.MPDelivery.Place)</td>

                    </tr>
                    <tr>
                        <td>Observação de Devolução</td>
                        <td>@Html.DisplayFor(model => model.MomentReturn.Observation)</td>
                    </tr>
                    <tr>
                        <td> Data de Devolução</td>
                        <td>@Html.DisplayFor(model => model.ReturnDate)</td>
                    <tr>
                    <tr>
                        <td> Hora de Devolução</td>
                        <td>@Html.DisplayFor(model => model.ReturnHour)</td>
                    </tr>
                    <tr>
                        <td>Preço Final</td>
                        <td>@Html.DisplayFor(model => model.FinalPrice)</td>
                    </tr>
                </table>
                <div class="buttonbackoffice">

                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()

                        <div class="form-actions">

                            <button class="submit  icon-Delete" type="submit" value="Delete"> Apagar </button>

                        </div>
                    }

                    <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "Reservations")'"> Voltar </button>

                </div>
            </div>
        </div>
        </div>
</div>
