@model Car4U.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h3>Reservation Details</h3>
<panel>
    <table>
        <div class="col-lg-6 row">
            <dl>
                <dt>
                    @Html.DisplayName("Reservation Number :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>
                <dt>
                    @Html.DisplayName("Name :")
                </dt>
                <dt>
                    @Html.DisplayName("Email :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd> 
                <dt>
                    @Html.DisplayName("Telephone :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telephone)
                </dd>               
                <dt>
                    @Html.DisplayName("Date In :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DeliveryDate)
                </dd>
                <dt>
                    @Html.DisplayName("Date Out :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReturnDate)
                </dd>
                <dt>
                    @Html.DisplayName("Current Category :")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <p>
                    @Html.ActionLink("Voltar", "Index")
                </p>
            </dl>
        </div>
        <div id="edit-details" class="col-lg-6 jumbotron detaildivsize">
            <form>

                <dt>
                    @Html.DisplayName("Change delivery Date: ")
                </dt>
                <dd>
                    <input type="date" class="form-control input-size-xs" />
                </dd>
                <dt>
                    @Html.DisplayName("Change return Date: ")
                </dt>
                <dd>
                    <input type="date" class="form-control input-size-xs" />
                </dd>
                <dt>
                    @Html.DisplayName("Change Category: ")
                </dt>
                <dd>
                    <input type="text" class="form-control input-size-xs" />
                </dd>

                <button class="btn btn-secondary btn-sm subButton">Back</button>
                <button class="btn btn-secondary btn-sm subButton btnsave">Save Change</button>


            </form>
        </div>

    </table>
</panel>


