@model Car4U.Models.Reservation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Editar Reserva</h2>

<div class="form-horizontal">
    <div>
        @Html.DisplayNameFor(model => model.ID) : @Html.DisplayFor(model => model.ID)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.BI) : @Html.DisplayFor(model => model.BI)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Country) : @Html.DisplayFor(model => model.Country.Name)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.MPDelivery) : @Html.DisplayFor(model => model.MPDelivery.Place)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.DeliveryDate) : @Html.DisplayFor(model => model.DeliveryDate)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.DeliveryHour) : @Html.DisplayFor(model => model.DeliveryHour)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.MPReturn) : @Html.DisplayFor(model => model.MPReturn.Place)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.ReturnDate) : @Html.DisplayFor(model => model.ReturnDate)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.ReturnHour) : @Html.DisplayFor(model => model.ReturnHour)
    </div>
    
        @if (Model.ExtraItems != null)
        {
            <div>
                @Html.DisplayNameFor(model => model.ExtraItems) :

                @foreach (var item in Model.ExtraItems)
                {
                    @Html.DisplayFor(Item => item.ExtraModel.Model)
                }
            </div>
        }
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.carID, "Matrícula", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("carID", null, "Matricula", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.carID, "", new { @class = "text-danger" })

            <div class="buttonbackoffice">

                <button class="submit icon-Save" type="submit" value="Save"> Guardar </button>

                <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "Reservations")'"> Voltar </button>

            </div>
        </div>
    </div>
    }
</div>



@*<div>
    @Html.ActionLink("Voltar", "Index")
</div>*@
