@model IEnumerable<Car4U.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Reserva</h3>


<table class="table">

    <tr class="text-center">
        <td class="neon-text">
            ID
            @*@Html.DisplayName("ID")*@
        </td>
        <td class="neon-text">
            Nome
            @*@Html.DisplayName("Nome")*@
        </td>
        <td class="neon-text">
            E-mail
            @*@Html.DisplayName("E-Mail")*@
        </td>
        <td class="neon-text">
            Telefone
            @*@Html.DisplayName("Telefone")*@
        </td>
        @*<td class="neon-text">
            Data de reserva
            @html.displayname("reservation date")
            @html.displaynamefor(model => model.reservationdate)
        </td>*@
        <td class="neon-text">
            Data de Entrega
            @*@Html.DisplayName("Delivery Date")*@
            @*@Html.DisplayNameFor(model => model.DeliveryDate)*@
        </td>
        <td class="neon-text">
            Data de Recolha
            @*@Html.DisplayName(" Return Date")*@
            @*@Html.DisplayNameFor(model => model.ReturnDate)*@
        </td>
        @*<td class="neon-text">
                Categoria
                @Html.DisplayName("Category")
            </td>
            <td class="neon-text">
                Extras
                @Html.DisplayName("Extras")
            </td>
            <td class="neon-text">
                Promoção
                @Html.DisplayName("Promotion")
            </td>*@
        <td class="neon-text">
            Preço Final
            @*@Html.DisplayName("Final Price")*@
            @*@Html.DisplayNameFor(model => model.FinalPrice)*@
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                <a id="edit-details" href="~/MomentDeliveries/Details/@item.ID">Begin Moment</a> |
                <a id="edit-details" href="~/MomentReturns/Details/@item.ID">End Moment</a> |
            
                @Html.ActionLink(" Editar ", "Edit", new { id = item.ID }, new { @class = "icon-edit" }) |
                @Html.ActionLink(" Detalhes ", "Details", new { id = item.ID }, new { @class = "icon-Details" }) |
                @Html.ActionLink(" Apagar ", "Delete", new { id = item.ID }, new { @class = "icon-Delete" })           
               
            </td>
        </tr>
    }

</table>
