@model IEnumerable<Car4U.Models.Reservation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Reservation</h3>


<table class="table">

    <tr class="text-center">
        <td class="neon-text">
            @Html.DisplayName("ID")
        </td>
        <td class="neon-text">
            @Html.DisplayName("Nome")
        </td>
        <td class="neon-text">
            @Html.DisplayName("E-Mail")
        </td>
        <td class="neon-text">
            @Html.DisplayName("Telephone")
        </td>
        @*<td class="neon-text">
            @html.displayname("reservation date")
            @html.displaynamefor(model => model.reservationdate)
        </td>*@
        <td class="neon-text">
            @Html.DisplayName("Delivery Date")
            @*@Html.DisplayNameFor(model => model.DeliveryDate)*@
        </td>
        <td class="neon-text">
            @Html.DisplayName(" Return Date")
            @*@Html.DisplayNameFor(model => model.ReturnDate)*@
        </td>
        @*<td class="neon-text">
                @Html.DisplayName("Category")
            </td>
            <td class="neon-text">
                @Html.DisplayName("Extras")
            </td>
            <td class="neon-text">
                @Html.DisplayName("Promotion")
            </td>*@
        <td class="neon-text">
            @Html.DisplayName("Final Price")
            @*@Html.DisplayNameFor(model => model.FinalPrice)*@
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
                <a id="edit-details" href="~/MomentDeliveries/Details/@item.ID">Begin Moment</a> |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
