@model IEnumerable<Car4U.Models.CarModel>
@{
    ViewBag.Title = "IndexModel";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Marcas Automóvel</h2>

<p class="buttonbackoffice" style="margin-bottom:70px">
    @Html.ActionLink(" Adicionar Marcas ", "Create", "Brands", new {@class="icon-Add submit" })
</p>
<table class="table tableheader" style="width:200px">    
    <tr>
        <th style="width:150px">Marca</th>
        <th style="width:100px">Acções</th>
    </tr>
    @foreach (var item in ViewBag.Brands)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr style="width:200px; padding:1px" class="@selectedRow" onclick='window.location.href="/Brands/IndexModel/@item.ID"'>
            <td style="padding:3px">
                @item.Description
            </td>
            <td style="padding:3px">
                <div style="width:70px">
                    @Html.ActionLink(" ", "IndexModel", new { id = item.ID }, new { @class = "icon-Select submit", @title = "Select" })
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                  
                </div>
            </td>
        </tr>
    }
</table>

<div style="margin-top:50px">
    @if (Model != null)
    {
        <section class="destaque-subtitle">

            <h2>Modelos de @ViewBag.Brand </h2>
                <div class="buttonbackoffice" style="margin-bottom:50px">
                    @Html.ActionLink(" Adicionar novo Modelo ", "Create", "CarModels", new { id = ViewBag.ID }, new { @class = "icon-Add submit"})                   
                </div>              
            
        </section>

    <table class="table tableheader" style="width:200px">
        <tr>
            <th style="width:100px">Modelos</th>
            <th style="width:100px">Acções</th>
        </tr>
        @foreach (var item in Model)
        {
            string selectedRow = "";
            <tr style="width:200px; padding:1px" class="@selectedRow">
                <td style="padding:3px">
                    @item.Description
                </td>
                <td style="padding:3px">
                    <div style="width:70px">
                        @Html.ActionLink(" ", "Edit","CarModels", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                        @Html.ActionLink(" ", "Details", "CarModels", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                        @Html.ActionLink(" ", "Delete", "CarModels", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                  </div>
                </td>
            </tr>
        }
    </table>
    }
</div>