@model Car4U.ViewModels.BrandsIndex
@using Microsoft.AspNet.Identity;
@using Car4U.DAL;
@{
    ViewBag.Title = "IndexModel";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Marcas Automóvel</h2>

<div class="form-group">
    <div class="button">
        @Html.ActionLink("Adicionar", "Create","Brands", new { @class = "icon-Add submit" })
    </div>
</div>

<table class="table tableheader">
    <tr>
        <th class="tableheader1"></th>
        <th>Nome</th>
        <th></th>
    </tr>
    @foreach (var item in Model.Brands)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow" onclick='window.location.href="/Brands/IndexModel/@item.ID"'>
            <td>
                @Html.ActionLink("Select", "IndexModel", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="buttonbackoffice">

                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID, view = 1 }, new { @class = "icon-Details submit", @title = "Detalhes" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                    </div>
</td>
        </tr>
    }
</table>
<div>
    @if (Model.CarModels != null)
    {
        <section class="destaque-subtitle">
            <h2>
                Modelos
                <span class="pull-right">
                    <a id="edit-details" href="~/CarModels/Create/@ViewBag.ID">Create</a>
                    @*@Html.ActionLink("Create", "Create", "CarModels", new { id = ViewBag.ID })*@
                </span>
            </h2>
        </section>

        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th></th>
            </tr>
            @foreach (var item in Model.CarModels)
            {
                string selectedRow = "";
                <tr class="@selectedRow">
                    <td></td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <span class="pull-right">
                            <a id="edit-details" href="~/CarModels/Details/@item.ID">Details</a>
                            <a id="edit-details" href="~/CarModels/Edit/@item.ID">Edit</a>
                            <a id="edit-details" href="~/CarModels/Delete/@item.ID">Delete</a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    }
</div>
