@model IEnumerable<Car4U.Models.CarModel>
@{
    ViewBag.Title = "IndexModel";
}

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Marcas Automóvel</h2>

<p>
    @Html.ActionLink("+ Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>Nome</th>
        <th></th>
    </tr>
    @foreach (var item in ViewBag.Brands)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow" onclick='window.location.href="/Brands/IndexModel/@item.ID"'>
            <td>
                @Html.ActionLink("Select", "IndexModel", new { id = item.ID })
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <span class="pull-right">
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID })
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </span>
            </td>
        </tr>
    }
</table>
<div>
    @if (Model != null)
    {
        <section class="destaque-subtitle">
            <h2>
                Modelos de @ViewBag.Brand
                <span class="pull-right">
                    <a id="edit-details" href="~/CarModels/Create/@ViewBag.ID">Create</a>
                    @*@Html.ActionLink("Create", "Create", "CarModels", new { id = ViewBag.ID })*@
                </span>
            </h2>
        </section>

        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                string selectedRow = "";
                <tr class="@selectedRow">
                    <td></td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <span class="pull-right">
                            <a id="edit-details" href="~/CarModels/Details/@item.ID">Details</a>
                            <a id="edit-details" href="~/CarModels/Edit/@item.ID">Edit</a>
                            <a id="edit-details" href="~/CarModels/Delete/@item.ID">Delete</a>
                        </span>
                    </td>
                </tr>
            }
        </table>
    }
</div>