@model IEnumerable<Car4U.Models.CarModel>
@{
    ViewBag.Title = "IndexModel";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Marcas de Automóvel</h2>

<div class="buttonbackoffice" style="margin-bottom:70px">
    @Html.ActionLink(" Adicionar Marcas ", "Create", "Brands", new { @class = "icon-Add submit" })
</div>

<div class="row">

    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 " style= "width:370px">

        <table class="table tableheader">
            <tr>
                <th>Marca</th>
                <th>Acções</th>
            </tr>
            @foreach (var item in ViewBag.Brands)
            {
                string selectedRow = "";
                if (item.ID == ViewBag.ID)
                {
                    selectedRow = "success";
                }

                <tr class="@selectedRow" onclick='window.location.href="/Brands/IndexModel/@item.ID"' style="height:15px">

                    <td>
                        @item.Description
                    </td>
                    <td>
                        <div class="buttonbackoffice">
                            @Html.ActionLink(" ", "IndexModel", new { id = item.ID }, new { @class = "icon-Select submit", @title = "Select" })
                            @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                            @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                            @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

    @if (Model != null)
    { <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-3 col-md-2 col-sm-12 col-xs-12 " style="width:370px" >

            <h2>Modelos de @ViewBag.Brand </h2>
            <div class="buttonbackoffice" style="margin-bottom:50px">
                @Html.ActionLink(" Adicionar novo Modelo ", "Create", "CarModels", new { id = ViewBag.ID }, new { @class = "icon-Add submit" })
            </div>


            <table class="table tableheader">
                <tr>
                    <th>Modelos</th>
                    <th>Acções</th>
                </tr>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @item.Description
                        </td>
                        <td>

                            <div class="buttonbackoffice">
                                @Html.ActionLink(" ", "Edit", "Brands", new { id = item.ID }, new { @id = "hover-icon", @class = "icon-edit submit", @title = "Editar" })
                                @Html.ActionLink(" ", "Details", "Brands", new { id = item.ID }, new { @id = "hover-icon", @class = "icon-Details submit", @title = "Detalhes" })
                                @Html.ActionLink(" ", "Delete", "Brands", new { id = item.ID }, new { @id = "hover-icon", @class = "icon-Delete submit", @title = "Apagar" })
                            </div>

                        </td>
                    </tr>
                }
            </table>

        </div>}

</div>
