@using Car4U.Models
@using System.Data.Entity
@model  IEnumerable<Car4U.Models.ApplicationUser>

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<br />
<h2>Utilizadores</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
  
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*<span onclick="return confirm('Are you sure to delete?')"><a href="/Role/DeleteUser?id=@item.Id" class="delLink" style="color:red;">Delete</a></span> |*@
                <span onclick="return confirm('Are you sure to delete?')"><a href="/Role/DeleteUserRole?id=@item.Id" class="delLink" style="color:red;">Tirar dos Empregados</a></span>
            </td>
           
        </tr>
    }
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="button">
            <button id="butaoOffice" class="submit" type="button" style="float:right" onclick="location.href='@Url.Action("RegisterEmployee", "Role")'">Adicionar Conta</button>
        </div>
    </div>
</div>
