@{
    ViewBag.Title = "Create";

}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div>
    <div style="margin:5px">
    <h2>Adicionar Cargo</h2>
    
    @Html.ActionLink("List Roles", "Index", new {@class="icon-Details1"}) | @Html.ActionLink("Manage User Role", "ManageUserRoles")
    </div>
    
    <div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <h4>Nome do Cargo</h4>
        <p>
            @Html.TextBox("RoleName")
        </p>
        <div class=" buttonbackoffice">
            <button class="submit icon-Save" type="submit" value="Save"> Guardar </button>
        </div>
    }
        </div>
</div>
