@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Cargos Existentes</h2>

@Html.ActionLink("Criar Novo Cargo", "Create", "Role", new {@class="icon-Add submit"}) | 
@Html.ActionLink("Controlar Cargos de Utilizadores", "ManageUserRoles","Role", new {@class="icon-Users submit"})
<hr />
<div>
    @foreach (var role in Model)
    {
        <p>
            <strong>@role.Name | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Role/Delete?RoleName=@role.Name" class="delLink icon-Delete" style="color:red;">Delete</a></span> |
             @Html.ActionLink("Editar", "Edit", "Role", new { @class = "icon-Edit submit" }, new { roleName = @role.Name })         
        </p>
    }
</div>
