@{
    ViewBag.Title = "ManageUserRoles";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h2>Controlar Cargos de Utilizadores</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<h2>Adicionar Cargo a Utilizador</h2>

@using (Html.BeginForm("RoleAddToUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Nome Utilizador : @Html.TextBox("UserName")
        Cargo: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>    @*<input type="submit" value="Save" />*@
    
    <div class="buttonbackoffice">        
        <button class="submit icon-Save" type="submit" value="Save"> Guardar </button>
    </div>
   
}
<hr />
<h3>Cargos de Utilizador</h3>
@using (Html.BeginForm("GetRoles", "Role"))
{
    @Html.AntiForgeryToken()
          
        <p>Nome Utilizador : @Html.TextBox("UserName") </p>
                <div class="buttonbackoffice">                    
                    <button class="submit icon-search" type="submit"> Saber Cargos </button>                    
                </div>
        @*<input type="submit" value="Get Roles for this User" />*@
        
    
}

@if (ViewBag.RolesForThisUser != null)
{
    <div>
        <h3>Roles for this user </h3>
        <ol>
            @foreach (string s in ViewBag.RolesForThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

<hr />
<h3>Delete A User from a Role</h3>

@using (Html.BeginForm("DeleteRoleForUser", "Role"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Nome Utilizador : @Html.TextBox("UserName")
        Cargo: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

    </p>
    <div class="buttonbackoffice">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions">
                <button class="submit  icon-Delete" type="submit" value="Delete"> Tirar Cargo deste Utilizador </button>
            </div>
        }        
    </div>
    @*<input type="submit" value="Delete this user from Role" />*@
}
