@{
    ViewBag.Title = "ManageUserRoles";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="page-header">
    <h2>Controlar Cargos de Utilizadores</h2>
</div>
<div class="container">

    <div class="buttonbackoffice" style="padding-bottom:50px">
        <button class="submit icon-Add" style="float:left" type="button" onclick="location.href='@Url.Action("Create", "Role")'"> Adicionar Tipos de Cargo </button>
    </div>


    <div style="padding-bottom:30px">
        <h3>Adicionar Cargo a Utilizador</h3>

        @using (Html.BeginForm("RoleAddToUser", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                Nome Utilizador : @Html.TextBox("UserName")
                Cargo: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>

            <div class="buttonbackoffice">
                <button class="submit icon-Save" type="submit" value="Save"> Guardar </button>
            </div>

        }
    </div>


    <div style="padding-bottom:10px">

        <div style="padding-bottom:20px">
            <h3>Cargos de Utilizador</h3>
            @using (Html.BeginForm("GetRoles", "Role"))
            {
                @Html.AntiForgeryToken()

                <p>Nome Utilizador : @Html.TextBox("UserName") </p>
                <div class="buttonbackoffice">
                    <button class="submit icon-search" type="submit"> Saber Cargos </button>
                </div>
                @*<input type="submit" value="Get Roles for this User" />*@


            }
        </div>


        <div style="padding-bottom:10px">
            @if (ViewBag.RolesForThisUser != null)
            {
                <div>
                    <h3>Cargos deste Utilizador </h3>
                    <ol style="float:left">
                        @foreach (string s in ViewBag.RolesForThisUser)
                        {
                            <li>@s</li>
                        }
                    </ol>
                </div>
            }
        </div>
    </div>


    <div style="padding-bottom:50px">
        <h3>Tirar Cargo do Utilizador</h3>

        @using (Html.BeginForm("DeleteRoleForUser", "Role"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                Nome Utilizador : @Html.TextBox("UserName")
                Cargo: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>

            <div class="buttonbackoffice">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions">
                        <button class="submit  icon-Delete" type="submit" value="Delete"> Tirar Cargo deste Utilizador </button>
                    </div>
                }
            </div>
        }
    </div>
</div>