@model Car4U.Models.ExtraModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Detalhes Extra Model</h4>
    <hr />
    <dl class="dl-horizontal" style="font-size:15px">
        <dt>
            @Html.DisplayNameFor(model => model.ExtraModelType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraModelType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="button">                
                <button id ="butaoOffice" class="submit" type="button" onclick="location.href='@Url.Action("Edit", "ExtraModels", new { id = Model.ID })'">Editar</button>
                <button id="butaoOffice" class="submit"  type="button" onclick="location.href='@Url.Action("Index", "ExtraModels")'">Voltar</button>
            </div>
        </div>
    </div>
</div>

