@model Car4U.Models.ExtraModel
@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <h2>Detalhes de Modelo Extra</h2>
</div>

<div class=" form-horizontal">
    <div class="form-group">
        <div class=" col-md-10">
            <div class=" container">
                <table class=" table tableheader table-responsive" style="width:200px">
                    <tr><th></th><th></th></tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ExtraModelType.Description)</td>
                        <td>@Html.DisplayFor(model => model.ExtraModelType.Description)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Model)</td>
                        <td>@Html.DisplayFor(model => model.Model)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Price)</td>
                        <td>@Html.DisplayFor(model => model.Price)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Stock)</td>
                        <td>@Html.DisplayFor(model => model.Stock)</td>
                    </tr>
                </table>


                <div class="buttonbackoffice">
                    <button class="submit icon-edit" type="button" onclick="location.href='@Url.Action("Edit", "ExtraModels", new { id = Model.ID })'"> Editar </button>
                    <button class="submit  icon-Delete" type="button" onclick="location.href='@Url.Action("Delete", "ExtraModels", new { id = Model.ID })'"> Eliminar </button>
                    <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "ExtraModels")'">  Voltar </button>
                </div>
            </div>
        </div>
    </div>
</div>