@model IEnumerable<Car4U.Models.ExtraModel>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    }
<br />
<h4 style="color:black">Extra models</h4>
<br />
<div class="form-group">    
    <div class="buttonbackoffice">
        <button class="submit" type="button" onclick="location.href='@Url.Action("Create", "ExtraModels")'">Adicionar</button>
    </div>    
</div>
   

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtraModelType.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraModelType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
