<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car4U - @ViewBag.Title</title>
    <link rel="icon" type="image/ico" href="~/Content/Car4U_ico.fw.ico" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @*<script src="js/bootstrap.min.js"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="title" content="Frota ">
    <meta name="description" content="Aluguer de carros em portugal">


    <!-- Css -->
    @*
        <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css">*@
    @*
    <link rel="stylesheet" type="text/css" href="~/Content/css/common.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/RicardoOliveira.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Content/css/ajax/libs/jqueryui/1.10.1/themes/smoothness/jquery-ui.min.css">

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/common.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>

    <script type="text/javascript" src="~/Scripts/messages_pt.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>

</head>


<body>
   
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="@Url.Action("Index", "Home")">
                    <img src="~/images/Car4ULogo.png" class="img-responsive">
                </a>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Categorias", "Index", "Categories")</li>
                    <li>@Html.ActionLink("Frota", "PublicIndex", "Cars")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                       

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.ActionLink("Office", "BackOffice", "Home")
                        </li>
                    }
                </ul>


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!-- Estava criar conflito com os Scripts carregados-->

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@

    <!--Footer beggining-->

    <footer class="footer-distributed">
        <div class="container">
            <div class="footer-left">
                <img src="~/images/Car4ULogo.png" class="footer-img">

                @*<p class="footer-links">
                    @Html.ActionLink("Fleet", "", "")
                    -
                    @Html.ActionLink("About", "About", "Home")
                    -
                    @Html.ActionLink("Contact", "Contact", "Home")
                </p>*@
                <div class="footer-icons">
                    <p>&copy;@DateTime.Now.Year</p>
                    <a href="https://www.facebook.com/Car4U-1317607318265322/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <div class="footer-right">
                <p>Contact Us</p>
                <form action="MAILTO:example@car4u.com" method="post" enctype="text/plain">
                    <input type="text" name="email" placeholder="Email" />
                    <textarea name="message" placeholder="Message"></textarea>
                    <div class="button">
                        <button id="bookingFormSubmit" class="submit" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </footer>
    <!--Footer end-->
</body>
</html>
