@model IEnumerable<Car4U.Models.ExtraModelType>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<br />
<h4 style="color:black">Tipo de Extra</h4>
<br />

<div class="form-group">
    <div class="buttonbackoffice">
        <button class="submit icon-Add" type="button" onclick="location.href='@Url.Action("Create", "ExtraModelTypes")'"> Adicionar </button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Tipo de Extra
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink(" Editar ", "Edit", new { id = item.ID }, new { @class = "icon-edit" }) |
            @Html.ActionLink(" Detalhes ", "Details", new { id = item.ID }, new { @class = "icon-Details" }) |
            @Html.ActionLink(" Apagar ", "Delete", new { id = item.ID }, new { @class = "icon-Delete" })
        </td>
    </tr>
}    
</table>

