@model Car4U.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes da Categoria</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warranty)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="buttonbackoffice pull-left">
        <button class="submit icon-edit" type="button" onclick="location.href='@Url.Action("Edit", "Categories", new { id = Model.ID })'"> Editar </button>
        <button class="submit  icon-Delete" type="button" onclick="location.href='@Url.Action("Delete", "Categories", new { id = Model.ID })'"> Eliminar </button>
        <button class="submit  icon-back" type="button" onclick="location.href='@Url.Action("Index", "Categories")'">  Voltar </button>
    </div>
</div>
