@model Car4U.ViewModels.FleetIndex
@using Microsoft.AspNet.Identity;
@using Car4U.DAL;
@{
    ApplicationDbContext db = new ApplicationDbContext();
}

@{
    ViewBag.Title = "Index";
}

<section class="well">
    <h2>
        Categorias
        <span class="pull-right">
            @Html.ActionLink(" ", "Create", null, new { @class = "glyphicon glyphicon-plus-sign" })
        </span>
    </h2>
</section>

<table class="table">
    <tr>
        <th></th>
        <th>Nome</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categories)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.ID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow" onclick='window.location.href="/Categories/Index/@item.ID"'>
            <td>
                @Html.ActionLink(" ", "Index", new { id = item.ID }, new { @class = "glyphicon glyphicon-hand-right" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <span class="pull-right">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-wrench" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                </span>
            </td>
        </tr>
    }

</table>

<div>

    @if (Model.Cars != null)
    {
        <section class="well">
            <h2>
                SubCategorias
                <span class="pull-right">
                    @Html.ActionLink(" ", "Create", "Cars", null, new { @class = "glyphicon glyphicon-plus-sign" })
                </span>
            </h2>
        </section>

        <table class="table">
            <tr>
                <th></th>
                <th>Nome</th>
                <th></th>
            </tr>

            @foreach (var item in Model.Cars)
            {
                string selectedRow = "";
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink(" ", "Index", new { id = item.category.ID, subcatID = item.ID }, new { @class = "glyphicon glyphicon-hand-right" })

                    </td>
                    <td>
                        @if (item.FilePaths.Any(f => f.FileType == Car4U.Models.FileType.Photo))
                    {
                        
                        <div>
                            <img width="300" height="200" src="~/images/@item.FilePaths.First(f => f.FileType == Car4U.Models.FileType.Photo).FileName" alt="" />
                        </div>
                    }
                </td>

                <td>
                    @item.CarModelID
                </td>
                <td>
                    <span class="pull-right">
                        @Html.ActionLink(" ", "Edit", "Cars", new { id = item.ID }, new { @class = "glyphicon glyphicon-wrench" })
                        @Html.ActionLink(" ", "Details", "Cars", new { id = item.ID }, new { @class = "glyphicon glyphicon-th-list" })
                        @Html.ActionLink(" ", "Delete", "Cars", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                    </span>
                </td>
            </tr>
            }

        </table>
    }

</div>