@model IEnumerable<Car4U.Models.MeetingPoint>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<div class="page-header">
    <h2>Pontos de Encontro</h2>
</div>

<div class="container col-lg-4">


    <div class="buttonbackoffice">
        <button class="submit icon-Add" style="float:left" type="button" onclick="location.href='@Url.Action("Create", "MeetingPoints")'"> Adicionar </button>
    </div>
    <table class="table tableheader table-responsive">
        <thead>
            <tr>
                <th>
                    Ponto de Encontro
                    @*@Html.DisplayNameFor(model => model.Place)*@
                </th>
                <th style="font-weight:900;
                    font-size:14px;
                    font-style:oblique" ;>+ Opções</th>
            </tr>
        </thead>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    <div class="iconsbackoffice">
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                        @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                        @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                    </div>
                </td>
            </tr>
        }
    </table>

</div>
