@model IEnumerable<Car4U.Models.CarModel>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "Index";
}


<h2>Modelos de Veiculos</h2>

<div class="buttonbackoffice">
    <button class="submit icon-Add" style="float:left" type="button" onclick="location.href='@Url.Action("Create", "CarModels")'"> Adicionar Modelo de Veiculo </button>
</div>
<table class="table tableheader">
    <tr>
        <th>
            Marca
            @*@Html.DisplayNameFor(model => model.brand.Description)*@
        </th>
        <th>
            Modelo
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th>Acções</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brand.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <div class="buttonbackoffice">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "icon-edit submit", @title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.ID }, new { @class = "icon-Details submit", @title = "Detalhes" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "icon-Delete submit", @title = "Apagar" })
                </div>
            </td>
        </tr>
    }

</table>
